!!
! Emwm Stuffs
!!
! fonts
*renderTable.variable.fontType: FONT_IS_XFT
*renderTable.variable.fontName: Liberation Serif 
*renderTable.variable.fontSize: 12
*renderTable: variable
*renderTable.fixed.fontType: FONT_IS_XFT
*renderTable.fixed.fontName: Spleen 16x32
*renderTable.fixed.fontSize: 12
*XmText*renderTable: fixed
*XmTextField*renderTable: fixed
! colors
*XmList.background: #1d2021
*XmText.background: #ebdbb2	    
*XmList.foreground: #fcf1c7
*XmTextField.background: #32302f
*XmTextField.foreground: #fcf1c7
*TipLabel.background: #ebdbb2
*TipShell.borderColor: #282828
*TipShell.borderWidth: 4
Emwm*client*background: #282828
Emwm*client*activeBackground: #1d2021
Emwm*client*foreground: #fcf1c7
Emwm*client*activeForeground: #ebdbb2
Emwm*icon*background: #282828
Emwm*icon*activeBackground: #1d2021
Emwm*icon*foreground: #fcf1c7
Emwm*icon*activeForeground: #ebdbb2
! Tweaks
*multiClickTime: 260
*XmScrollBar.width: 12
*XmScrollBar.height: 12
*enableThinThickness: False
*enableBtn1Transfer: button2_adjust
*enableButtonTab: True
*enableEtchedInMenu: True
*enableMenuInCascate: True
*enableToggleColor: True
*enableToggleVisual: True
*enableDragIcon: True
! Dithering
Emwm*client*top*ShadowPixmap: 1x1
Emwm*client*activeTopShadowPixmap: 1x1
