!!
! Emwm Stuffs
!!

! Fonts
*font: fixed
*fontSize: 16
Emwm*fontList: -*-spleen-medium-*-normal-16-*-*-*-*-*-*-*
Emwm*menu*fontList: -*-spleen-medium-*-normal-16-*-*-*-*-*-*-*

! MultiScreen
Emwm*multiScreen: True
Emwm*screens: Ness Jeff Paula Poo

! Icon Box
Emwm*useIconBox: True
Emwm*iconBoxDecoration: -all
Emwm*iconBoxGeometry: 10x1+600-0
Emwm*iconBoxSBDisplayPolicy: horizontal
Emwm*iconBoxName: Icon Box
Emwm*iconBoxTitle: Icon Box

! Colors
*XmList.background: #1d2021
*XmText.background: #ebdbb2	    
*XmList.foreground: #fcf1c7
*XmTextField.background: #32302f
*XmTextField.foreground: #fcf1c7
*TipLabel.background: #ebdbb2
*TipShell.borderColor: #282828
Emwm*client*background: #282828
Emwm*client*activeBackground: #1d2021
Emwm*client*foreground: #fcf1c7
Emwm*client*activeForeground: #ebdbb2
Emwm*icon*background: #282828
Emwm*icon*activeBackground: #1d2021
Emwm*icon*foreground: #fcf1c7
Emwm*icon*activeForeground: #ebdbb2

! Tweaks
Emwm*limitResize: True
Emwm*clientAutoPlace: True
Emwm*moveOpaque: False
*Customization: -color
*lookAndFeel: motif
*TipShell.borderWidth: 4
*multiClickTime: 260
*XmScrollBar.width: 12
*XmScrollBar.height: 12
*enableThinThickness: False
*enableBtn1Transfer: button2_adjust
*enableButtonTab: True
*enableEtchedInMenu: True
*enableMenuInCascate: True
*enableToggleColor: True
*enableToggleVisual: True
*enableDragIcon: True
Emwm*client*top*ShadowPixmap: 1x1
Emwm*client*activeTopShadowPixmap: 1x1
